{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}"/>
</head>

<body>
	<div class = "container">
		<nav class = "navbar">
            <img src="{% static "img/logo.png" %}"/>
            <img src="{% static "img/title.png" %}"/>
        </nav>
		<div class = "description">
			<span class="red">천지</span><span class="blue">미</span><span class="small">CHUNZIME</span>는 더 이상 자연재해로부터 안전하지 않은 대한민국에서 IBM에서 제공하는 WATSON API를 통하여 재해에 대한 기초 상식, 대처법, 발생 규모와 시기 등을 알려주어 안전한 대한민국을 만들고자 합니다.<br/><br/><br/>아래에 있는 검색을 통해 얻고 싶은 정보를 입력해보세요!<br/>(EX. Tell me how to deal with earthquake)
		</div>
		<div class = "wrapper">
            <div class = "box">
                <div class="chatroom">

                </div>
            </div>
		</div>
		<div class = "search">
            <div class = "insearch">
                <input type="text" name="question"/>
                <img src="{% static "img/sample1.png" %}"/>
            </div>
		</div>
        <footer></footer>
	</div>
</body>

</html>
