{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Chunzime :: 천재지변알리미</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}"/>
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">
		// 전역 변수 설정
		var turn_cnt = 0;
		var req_cnt = 0;
		var random2 = Math.floor(Math.random()*1000000000) + 1;
		var context = {'conversation_id':random2};
		var messageStack = [];
		var upkey = 0;
		var stacklen = 0;
	</script>
</head>

<body>
	<div class = "container">
		<nav class = "navbar">
			<a href="/home"><img src="{% static "img/logo.png" %}"/></a>
			<a href="/home"><img src="{% static "img/title.png" %}"/></a>
		</nav>
		<div class = "description">
			<span class="red">천지</span><span class="blue">미</span><span class="small">CHUNZIME</span>는 IBM에서 제공하는 WATSON API를 통하여 재해에 대한 기초 상식, 대처법, 발생 규모와 시기 등을 알려주어 안전한 대한민국을 만들고자 합니다.<br/><br/>아래에 있는 검색창에 얻고 싶은 정보를 입력해보세요!<br/>(EX. Tell me how to deal with earthquake)
		</div>
		<div class = "wrapper">
			<div class = "box">
				<div class="chatroom" id="chatroom">

				</div>
			</div>
		</div>
		<div class = "search">
			<div class = "insearch">
				<input type="text" name="question" id="question" onkeydown = "onKeyDown();"/>
				<img id="send_btn" src="{% static "img/send.png" %}" onclick = "tongsin();" />
			</div>
		</div>
		<div style="margin: 30px 0px 30px 0;border: solid black 1px;"></div>
		<footer>
			<div class="site"><a href="http://www.mpss.go.kr/home/index.html"><img src="{% static "img/f_1.png" %}"/></a></div>
			<div class="site"><a href="http://www.kma.go.kr/index.jsp"><img src="{% static "img/f_2.png" %}"/></a></div>
			<div class="site"><a href="http://kostat.go.kr/portal/korea/index.action"><img src="{% static "img/f_3.png" %}"/></a></div>
			<div class="site"><a href="http://www.safekorea.go.kr/idsiSFK/index.jsp"><img src="{% static "img/f_4.png" %}"/></a></div>
			<div style="clear:both;"></div>
		</footer>
	</div>
	<div id="blurbox" class="blurbox"></div>
	<div id="sample" class="sample">
		<ul>
			<li>Sample questions</li>
			<li>Tell me how to deal with earthquake.</li>
			<li>What is the difference between magnitude and intensity of an earthquake.</li>
			<li>I want to know what kind of disasters is in Korea.</li>
			<li>Would you tell me how to measure disasters occur in Korea?</li>
			<li>How can we implement restoration after disaster?</li>
		</ul>
	</div>
	<button class="plusbtn"></button>
	<script type="text/javascript">
		function onKeyDown(){
			// 엔터 입력으로 질문 보내기
			if(event.keyCode == 13){
				tongsin();
			}

			// 위쪽, 아래쪽 방향키로 이전 질문으로 이동 기능
			if(event.keyCode == 38){
				upkey += 1;
				if(upkey >= stacklen) upkey = stacklen;
				if(upkey <= -1) upkey = -1;
				if(upkey == -1) $("#question").val("");
				else $("#question").val(messageStack[stacklen - upkey]);
			}
			if(event.keyCode == 40){
				upkey -= 1;
				if(upkey >= stacklen) upkey = stacklen;
				if(upkey <= -1) upkey = -1;
				if(upkey == -1) $("#question").val("");
				else $("#question").val(messageStack[stacklen - upkey]);
			}
		}

		// 우측 하단 + 버튼 메뉴 열기
		$(".plusbtn").focus(function(event){
			event.preventDefault();
			$("#sample").slideToggle();
			$("#blurbox").css("visibility", "visible");
			$("#blurbox").css("opacity", "1");
			$("#blurbox").css("filter", "blur(6px)");
		});

		// 우측 하단 + 버튼 메뉴 닫기
		$(".plusbtn").blur(function(event){
			event.preventDefault();
			$("#sample").delay(300).slideToggle();
			$("#blurbox").css("visibility", "hidden");
			$("#blurbox").css("opacity", "0");
			$("#blurbox").css("filter", "none");
		});

		// 우측 하단 + 버튼 메뉴 클릭시 바로 질문 보내지도록 설정
		$("#sample ul li").click(function(){
			if($(this).text() == "Sample questions") return;
			$("#question").val($(this).text());
			tongsin();
		})

		$("#question").blur(function(){
			upkey = -1;
		});

		// 버튼에 마우스 올리면 색 변하도록 설정
		$("#send_btn").hover(function() {
			$(this).attr("src", "{% static "img/sendover.png" %}");
		}, function(){
			$(this).attr("src", "{% static "img/send.png" %}");
		});

		// 서버 api와 통신
		function tongsin(){
			$("#question").attr("disabled", true);
			var str = $("#question").val();
			str = $.trim(str);

			// 빈 문자열은 입력할 수 없음
			if(str.length == 0){
				$("#question").val("");
				$("#question").attr("disabled", false);
				return;
			}

			// 질문 내용 대화창에 출력
			$("#question").val("");
			userinput(str);
			messageStack.push(str);
			stacklen++;

			// 답변 오기 전까지 버튼 로딩 표시로 변환
			$("#send_btn").attr("src", "{% static "img/sendloading.gif" %}");

			// 한 단어 질문 예외 처리
			if (str.split(' ').length == 1) {
				str = "tell me what is " + str;
			}

			// 서버 api 통신
			$.ajax({
				type: "get",
				url: "/conversation",
				dataType: "json",
				data: {context:JSON.stringify(context), message:str},
				success: function(result) {
					$("#question").attr("disabled", false);
					var str2 = "";
					str2 += result["answer"];
					watsoninput(str2);
					context = result["context"];
					context["conversation_id"] = random2;
					$("#question").focus();
					$("#send_btn").attr("src", "{% static "img/send.png" %}");
					upkey = 0;
				}
			});
		}

		// 사용자 질문 대화창에 출력
		function userinput(str){
			var parent = document.getElementById("chatroom");
			var div = document.createElement("div");
			div.className = "user";
			var image = document.createElement("img");
			image.src = "{% static "img/ilban_in.png" %}";
			var div2 = document.createElement("div");
			div2.className = "chat";
			var t = document.createTextNode(str);
			div2.appendChild(t);
			div2.innerHTML = str
			div.appendChild(image);
			div.appendChild(div2);
			parent.appendChild(div);
			parent.scrollTop = parent.scrollHeight;
		}

		// watson 대답 대화창에 출력
		function watsoninput(str){
			var parent = document.getElementById("chatroom");
			var div = document.createElement("div");
			div.className = "watson";
			var image = document.createElement("img");
			image.src = "{% static "img/baksa_nim.png" %}";
			var div2 = document.createElement("div");
			div2.className = "chat";
			div2.innerHTML = str
			div.appendChild(image);
			div.appendChild(div2);
			parent.appendChild(div);
			parent.scrollTop = parent.scrollHeight;

			$(".select").click(function(){
				console.log($(this));
				$(this).css("background-color", "rgba(100, 100, 100, 1)");
				console.log($(this).css("background-color"));
				$('.select').attr("disabled", true);
				$("#question").val($(this).data("question"));
				tongsin();
			});
		}

		// 대화방 입장시 첫 질문 자동 출력
		$("#question").val("Hello Watson, can I ask some question to you?");
		tongsin();
	</script>
</body>

</html>