{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Chunzime</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
    	var stack = [];
    	var turn_cnt = 0;
    	var req_cnt = 0;
    	var random2 = Math.floor(Math.random()*1000000000) + 1;
    </script>
</head>

<body>
	<div class = "container">
		<nav class = "navbar">
            <a href="/home"><img src="{% static "img/logo.png" %}"/></a>
            <a href="/home"><img src="{% static "img/title.png" %}"/></a>
        </nav>
		<div class = "description">
			<span class="red">천지</span><span class="blue">미</span><span class="small">CHUNZIME</span>는 IBM에서 제공하는 WATSON API를 통하여 재해에 대한 기초 상식, 대처법, 발생 규모와 시기 등을 알려주어 안전한 대한민국을 만들고자 합니다.<br/><br/><br/>아래에 있는 검색을 통해 얻고 싶은 정보를 입력해보세요!<br/>(EX. Tell me how to deal with earthquake)
		</div>
		<div class = "wrapper">
            <div class = "box">
                <div class="chatroom" id="chatroom">

                </div>
            </div>
		</div>
		<div class = "search">
            <div class = "insearch">
                <input type="text" name="question" id="question" onkeydown = "onKeyDown();"/>
                <img id="send_btn" src="{% static "img/send.png" %}" onclick = "tongsin();" />
            </div>
		</div>
		<div style="margin: 30px 0px 30px 0;border: solid black 1px;"></div>
        <footer>
        	<div class="site"><a href="https://www.data.go.kr/"><img src="{% static "img/f_1.png" %}"/></a></div>
        	<div class="site"><a href="http://www.kma.go.kr/index.jsp"><img src="{% static "img/f_2.png" %}"/></a></div>
        	<div class="site"><a href="http://kostat.go.kr/portal/korea/index.action"><img src="{% static "img/f_3.png" %}"/></a></div>
        	<div class="site"><a href="http://www.safekorea.go.kr/idsiSFK/index.jsp"><img src="{% static "img/f_4.png" %}"/></a></div>
        	<div style="clear:both;"></div>
        </footer>
	</div>
	<script type="text/javascript">
		function onKeyDown(){
		    if(event.keyCode == 13){
		    	tongsin();
		    }
		}

		$("#send_btn").hover(function() {
   			$(this).attr("src", "{% static "img/sendover.png" %}");
		}, function(){
    		$(this).attr("src", "{% static "img/send.png" %}");
		});

		function tongsin(){
			$("#question").attr("disabled", true);
			var str = $("#question").val();
			str = $.trim(str);
			if(str.length == 0){
				$("#question").val("");
				$("#question").attr("disabled", false);
				return;
			}
		    $("#question").val("");
			userinput(str);
			$("#send_btn").attr("src", "{% static "img/sendloading.gif" %}");
			$.ajax({
				type: "get",
				url: "/conversation",
				dataType: "json",
				data: {context:JSON.stringify({
                    conversation_id: random2,
                    system: {
                        dialog_stack: stack,
                        dialog_turn_counter: turn_cnt,
                        dialog_request_counter: req_cnt
                    }
                }),message:str},
				success: function(result) {
					$("#question").attr("disabled", false);
					var str2 = "";
					str2 += result["answer"];
					watsoninput(str2);
					stack.push({dialog_node: str});
					turn_cnt += 2;
					req_cnt += 1;
					$("#question").focus();
    				$("#send_btn").attr("src", "{% static "img/send.png" %}");
				}
			});
		}
		//user's input = question
		function userinput(str){
			var parent = document.getElementById("chatroom");
			var div = document.createElement("div");
			div.className = "user";
			var image = document.createElement("img");
			image.src = "{% static "img/ilban_in.png" %}";
			var div2 = document.createElement("div");
			div2.className = "chat";
			var t = document.createTextNode(str);
			div2.appendChild(t);
			div.appendChild(image);
			div.appendChild(div2);
			parent.appendChild(div);
			parent.scrollTop = parent.scrollHeight;
		}

		function watsoninput(str){
			var parent = document.getElementById("chatroom");
			var div = document.createElement("div");
			div.className = "watson";
			var image = document.createElement("img");
			image.src = "{% static "img/baksa_nim.png" %}";
			var div2 = document.createElement("div");
			div2.className = "chat";
			var t = document.createTextNode(str);
			div2.appendChild(t);
			div.appendChild(image);
			div.appendChild(div2);
			parent.appendChild(div);
			parent.scrollTop = parent.scrollHeight;
		}

		$("#question").val("Hello Watson, can I ask some question to you?");
    	tongsin();
	</script>
</body>

</html>
