@font-face {
    font-family: 'koverwatch';
    src: url(koverwatch.ttf) format('truetype');
}

body{
	font-family: 'koverwatch';
    background-image: url(background_img.jpg);
    margin-top: 12%;
    margin-left: 0;
    margin-right: 0;
}


.navbar img{
    height: 150px;
    width: auto;
}


.container{
    background-color: rgba(255,255,255,0.75);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
}

.butn{
    font-size: 70px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    text-shadow: 2px 2px gray;
}