{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	    <title>Chunzime :: 천재지변알리미</title>
	    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
	</head>
	<body>
		<div class = "container">
			<nav class = "navbar">
	            <img src="{% static "img/logo.png" %}"/>
	            <img src="{% static "img/title.png" %}"/>
	        </nav>
	        <br><br><br>
	        <a class="butn" href="/home">Enter</a>
			<footer></footer>
		</div>
	</body>
</html>
