@font-face {
    font-family: 'koverwatch';
    src: url(../ttf/koverwatch.ttf) format('truetype');
}

body{
	font-family: 'koverwatch';
    margin: 0;
    background-color: rgba(241,241,241,1);
}

.navbar{
    text-align: center;
    padding: 20px;
}

.navbar img{
    height: 100px;
    width: auto;
}

.red{
	color: rgba(233, 0, 99, 1);
}

.blue{
	color: rgba(0, 160, 233, 1);
}

.small{
    font-size: 60%;
}

.container{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(241,241,241,1);
    padding-bottom: 30px;
}

.description{
	background-color: rgba(49, 49, 49, 1);
	font-size: 18pt;
    color: white;
    text-align: center;
    padding: 40px 150px;
    line-height: 1.5;
    word-break: keep-all;
}

.search{
    margin-top: 40px;
}

.insearch{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.insearch input{
    width: 85%;
    height: auto;
    line-height: normal;
    padding: .8em .5em;
    outline-style: none;
    border: solid 2px rgba(49, 49, 49, 1);
    border-radius: 3px;
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

.insearch img{
    height: 30.4px;
    width: 7%;
    vertical-align: middle;
    margin-left: 10px;
}

.wrapper{
    margin: 0;
}

.box{
    width: 100%;
}

.chatroom{
    margin-top: 20px;
    height: 400px;
    background-color: white;
    overflow-y: scroll;
    border: 2px solid rgba(49, 49, 49, 1);
    border-radius: 6px;
}

.user{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.user img{
    width: 50px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.user div{
    float: left;
    background-color: rgba(233, 0, 99, 1);
}

.watson{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.watson img{
    width: 50px;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.watson div{
    float: right;
    background-color: rgba(0, 160, 233, 1);
}

.chat{
    font-family: sans-serif;
    max-width: 60%;
    font-size: 1rem;
    padding: 7px;
    vertical-align: middle;
    overflow: auto;
    word-break: break-all;
    border-radius: 6px;
    color: white;
    box-shadow: 0px 1px 3px gray;
    font-weight: bold;
}

.col-12{
    margin-top: 8px;
    width: 100%;
}

.col-3{
    width: 25%;
}

.col-3 button{
    text-align: center;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgba(241, 241, 241, 1);
    font-weight: bolder;
    color: white;
}

.deepdark{
}

.site{
    float: left;
}

footer{
    height: 46px;
}