@font-face {
    font-family: 'koverwatch';
    src: url(../ttf/koverwatch.ttf) format('truetype');
}

body{
	font-family: 'koverwatch';
    margin: 0;
    background-image: url("../img/background_img.jpg");
}

.navbar{
    text-align: center;
    padding: 20px;
}

.navbar img{
    height: 100px;
    width: auto;
}

.red{
	color: rgba(233, 0, 99, 1);
}

.blue{
	color: rgba(0, 160, 233, 1);
}

.small{
    font-size: 60%;
}

.container{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: rgba(241,241,241,1);
}

.description{
	background-color: rgba(49, 49, 49, 1);
	font-size: 18pt;
    color: white;
    text-align: center;
    padding: 40px 150px;
    line-height: 1.5;
    word-break: keep-all;
}

.search{
    margin-top: 40px;
}

.insearch{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.insearch input{
    width: 85%;
    height: auto;
    line-height: normal;
    padding: .8em .5em;
    outline-style: none;
    border: solid 2px rgba(49, 49, 49, 1);
    border-radius: 3px;
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

.insearch img{
    height: 30.4px;
    width: 7%;
    vertical-align: middle;
    margin-left: 10px;
}

.wrapper{
    margin: 0;
}

.box{
    width: 100%;
}

.chatroom{
    margin-top: 20px;
    height: 400px;
    background-color: white;
    overflow-y: scroll;
    border: 2px solid rgba(49, 49, 49, 1);
    border-radius: 6px;
}

.user{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.user img{
    width: 50px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.user div{
    float: left;
    background-color: rgba(233, 0, 99, 1);
}

.watson{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.watson img{
    width: 50px;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.watson div{
    float: right;
    background-color: rgba(0, 160, 233, 1);
}

.chat{
    font-family: 'Dekko', cursive;
    max-width: 60%;
    font-size: 1.3rem;
    padding: 7px 10px;
    vertical-align: middle;
    overflow: auto;
    word-break: break-all;
    border-radius: 6px;
    color: white;
    box-shadow: 0px 1px 3px gray;
    line-height: 1.5;
}

.col-12{
    margin: 8px 0px;
    width: 100%;
}

.col-3{
    width: 25%;
}

.col-3 button{
    text-align: center;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 4px;
    background-color: rgba(49, 49, 49, 1);
    font-weight: bold;
    color: white;
    border-style: none;
    height: 2rem;
}

.col-3 button:hover{
    background-color: rgba(100, 100, 100, 1);
}
.deepdark{
}

.site{
    float: left;
}

.plusbtn{
    position: fixed;
    width: 70px;
    height: 70px;
    right: 20px;
    bottom: 20px;
    border: none;
    border-radius: 50px;
    background-image: url("../img/plusbtn.png");
    background-size: 70px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform .35s ease;
    transition: transform .35s ease;
    z-index: 100;
}

.plusbtn:focus{
    outline: none;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}

.sample{
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 600px;
    z-index: 100;
    display: none;
}

.sample ul{
    list-style: none;
    padding-left: 3px;
}

.sample ul li{
    font-family: 'Dekko', cursive;
    color: #ccc;
    font-size: 18pt;
    border: solid 2px rgba(49, 49, 49, 1);
    margin: 5px 0;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.sample ul li:nth-child(1){
    color: black;
}

.blurbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(49, 49, 49, 0.93);
    visibility: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

footer{
    height: 46px;
}

table {
    font-family: 'Droid Sans', sans-serif;
    width:100%;
    border-collapse: collapse;
    background-color: white;
    color: black;
    text-align: center;
}

table thead {
    font-weight: bold;
    background-color: #eee;
}

table td, table th {
    border: 1px solid #ccc;
}

table caption {
    color: white;
    font-weight: bold;
}

.img_container {
    clear: both;

}

.img_container img {
    width: 48%;
    margin: 1%;
}