@font-face {
    font-family: 'koverwatch';
    src: url(../ttf/koverwatch.ttf) format('truetype');
}

html{  
    background-image: url(../img/background_img.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

body{
	font-family: 'koverwatch';
    margin-top: 12%;
    margin-left: 0;
    margin-right: 0;
}

.navbar img{
    height: 150px;
    width: auto;
}

.container{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
}

.butn{
    font-size: 70px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    text-shadow: 2px 2px gray;
}